/* START CSS RESET */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* END CSS RESET */

.logo {
    margin: 6px;
    font-size: .50rem;
}


.nav-wrapper {
    display: flex;
    justify-content: space-between;
    text-align: left;
    font-family: HelveticaNeue-Medium, sans-serif;
    font-size: .75rem;
    font-weight: 500;
    letter-spacing: .3px;
    padding: 0.875rem 0.625rem;
    position: relative;
    text-transform: uppercase;
    color: #333;
    
}

ul li {
  display: inline;
  margin: 2px 103px 17px -12px;
}

h1 {
    color: #333;
}

.title-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-wrapper h1 {
    font-size: 98px;
    font-weight: 500;
    line-height: 119px;
     letter-spacing: 0em;
    text-align: left;
    color: #333;
    font-family: HelveticaNeue-Medium, sans-serif;

}


.title-wrapper img {
    width: 100%;
    max-width: 1080px;
    object-fit: contain;
    width: 1080px;
    
}

.button { 
  width: fit-content;
  height: fit-content;
  border-radius: 2cap;
  border-width: 1px;
}

.button:hover {
  color: white;
	background: gray;
	transition: all .3s linear;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
}

body {
  color: #FFF5F5
}

.intro-wrapper {
  color: #333;
  font-family: HelveticaNeue-Medium, sans-serif;
  justify-content: center;
    align-items: center;
    flex-direction: inherit;
    margin-top: 3%;
    margin-left: 10%;
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin-right: 10%;
    margin-left: 12%;
    width: 1080px;
  
}

p {
  margin-right: 10%;
}

.button2 {
  width: 150px;
  height: fit-content;
  border-radius: 2cap;
  font-size: small ;
  border-width: 1px;

}

.button2:hover {
  color: white;
	background: gray;
	transition: all .3s linear;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
}

.name {
  color: #333;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 3%;
}

.project img, .project {
  max-width: 300px;
  display: block;
  border-radius: 2cap;
  display: flow-root;
  position: relative;

  

}

.project1 {
  color: #333;
  font-family: HelveticaNeue-Medium, sans-serif;
  font-size: small;
  border: 0.7px solid black;
  border-radius: 2cap;
  height: 350px
  

}

.project {
  display: flex;
  justify-content: space-between;
  text-align: left;
  font-family: HelveticaNeue-Medium, sans-serif;
  font-size: .75rem;
  font-weight: 500;
  letter-spacing: .3px;
  padding: 0.875rem 0.625rem;
  position: relative;
  text-transform: uppercase;
  color: #333;
  margin-right: 69%;
  
    
}

.content-area {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  align-items: baseline;
  margin: 7%;
  margin-top: 7%;
  margin-left: 12%;
}
  
.project1 #text {
  display: inline;
  margin: 20%;

}

.project1 article {
  margin: 7%;
}

.project2 article {
  margin: 7%;

}

.project3 article {
  margin: 7%;
  
}
.project2 {
  color: #333;
  font-family: HelveticaNeue-Medium, sans-serif;
  font-size: small;
  border: 0.7px solid black;
  border-radius: 2cap;
  height: 350px
}

.project3 {
  color: #333;
  font-family: HelveticaNeue-Medium, sans-serif;
  font-size: small;
  border: 0.7px solid black;
  border-radius: 2cap;
  height: 350px

}

.button3 {
  margin: 5%;
  border-radius: 2cap;
  border-width: 1px;
}

.button3:hover {
  color: white;
	background: gray;
	transition: all .3s linear;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
}

.button4 {
  margin: 5%;
  border-radius: 2cap;
  border-width: 1px;
}

.button4:hover {
  color: white;
	background: gray;
	transition: all .3s linear;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
}

.button5 {
  margin: 5%;
  border-radius: 2cap;
  border-width: 1px;
}

.button5:hover {
  color: white;
	background: gray;
	transition: all .3s linear;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
}

footer {
  display: inline;
}

@media (max-width: 1500px) {
   .title-wrapper h1 {
    font-size: 74px;
   }
}

@media (max-width: 117px) {
  .title-wrapper h1 {
    font-size: 60px;
  }
}

@media (max-width: 753px) {
  .title-wrapper h1 {
    font-size: 25px;
  }
}

@media (max-width: 700px) {
  .nav-wrapper {padding: 4.875rem 19.625rem;
  }
}

@media (max-width: 900px) {
  .title-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: stretch;
  }
}

@media (max-width: 900px) {
  .project {
    display: flex;
    justify-content: space-between;
    text-align: left;
    font-family: HelveticaNeue-Medium, sans-serif;
    font-size: .75rem;
    font-weight: 500;
    letter-spacing: .3px;
    padding: 0.875rem 0.625rem;
    position: relative;
    text-transform: uppercase;
    color: #333;
    flex-wrap: wrap;
  }
}

@media (max-width: 900px) {

}

.name2 {
  color: #333;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 3%;
    margin-top: 7%;
    margin-left: 12%;
    width: 118px;
  
}

.field1, .field2, .field3, .field4, .field5 {
  font-family: HelveticaNeue-Medium, sans-serif;
  font-size: 35px;
  font-weight: 500;
  letter-spacing: .3px;
  color: #333;
  
}

.line1, .line2, .line3, .line4, .line5 {
  border-top: 3px solid #333;
  margin-left: 9%;
  width: 1080px;
}

.text1 {
  font-family: HelveticaNeue-Medium, sans-serif;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: .3px;
  color: #333;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  margin-right: 10%;
  margin-left: 55%;
}

.text2, .text3, .text4, .text5 {
  font-family: HelveticaNeue-Medium, sans-serif;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: .3px;
  color: #333;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  margin-right: 10%;
  margin-left: 55%;
  justify-content: flex-end;

}

.field1 article, .field2 article, .field3 article, .field4 article, .field5 article {
  margin-left: 9%;
  margin-top: 3px;
}

.name3 {
  color: #333;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 3%;
    margin-top: 7%;
    margin-left: 12%;
    width: 118px;
}

.placeholder {
  color: #333;
}

.custom-field, .custom-field2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-end;
  align-items: flex-start;
  margin-left: 12%;
  margin-top: 2%;
}

.emailField, .nameField {
  border-radius: 2cap;
  margin-top: 1%;
  height: 45px;
  margin-top: 1%;
  width: 300px;
 
}

.contactForm {
  color: black;
  display: flex;
    flex-direction: column;
    margin-left: 8%;
    margin-top: 2%;
    margin-right: 50%;
}

.name4 {
  color: #333;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 3%;
    margin-top: 7%;
    margin-left: 12%;
    font-family: HelveticaNeue-Medium, sans-serif;
    font-size: 35px;
    margin-top: 2%;
}


.button-footer {
  width: fit-content;
  height: fit-content;
  border-radius: 2cap;
  border-width: 1px;
  margin-top: 2%;
  background-color: grey;
  color:#FFF5F5;
  margin-bottom: 5%;
  margin-left: 12%;
  margin-top: 5%;
}
  



.button-footer:hover {
  color: black;
	background:  white;
	transition: all .3s linear;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;

}

.insta {
  width: 80px;
  height: 80px;
}

.media {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.px { 
  width: 60px;
  height: 60px;
  border-radius: 2cap;
  width: fit-content;
  border: 2.75px solid black;

}

.facebook {
  width: 65px;
  height: 65px;
  margin-top: 8%;
  
}

.media-links {
  margin-right: 20%;
  display: inline-flex;
}

.px_pic {
  margin-top: 7%;
}


.media {
  display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: flex-start;
}